@import "tailwindcss";

html, body {
  overscroll-behavior-y: none;
}

body {
    font-family: 'Noto Sans KR Variable', sans-serif;
}

.vertical-shadow {
    box-shadow: 0px -3px 15px rgba(0, 0, 0, 0.5);
}

@keyframes wave {
    0%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-8px);
    }
}

@keyframes double-bounce {
    0%, 15%, 30%, 100% { transform: translateY(0); }
    7.5%, 22.5% { transform: translateY(-12px); }
}

.animate-double-bounce {
    animation: double-bounce 1s ease-in-out;
}